name: Emergency Mode Test

on:
  workflow_dispatch:
    inputs:
      gateway_version:
        required: true
        type: string
        description: "Tyk Gateway Version"
        default: "v5.7"

jobs:
  emergency-mode:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install helm
        uses: Azure/setup-helm@v4

      - name: Install newman
        run: |
          sudo apt update && \
          sudo apt install nodejs npm -y && \
          npm install -g newman

      - name: Start Minikube
        uses: medyagh/setup-minikube@latest
        with:
          addons: 'default-storageclass,storage-provisioner'

      - name: Copy .env file
        run: cp .env.example .env

      - name: Deploy tyk-control-plane
        run: |
          LICENSE="${{ secrets.DASH_LICENSE }}" \
          MDCB_LICENSE="${{ secrets.MDCB_LICENSE }}" \
          OPERATOR_LICENSE="${{ secrets.DASH_LICENSE }}" \
          GATEWAY_VERSION=${{ inputs.gateway_version }} \
          ./up.sh --redis redis --namespace tyk --deployments operator-httpbin tyk-cp

      - name: Test tyk-control-plane
        run: newman run --folder gateway --env-var "deployment=tyk-cp" tyk-k8s-demo.postman_collection.json

      - name: Deploy tyk-data-plane - ${{ inputs.gateway_version }}
        run: |
          TYK_DATA_PLANE_CONNECTIONSTRING=mdcb-svc-tyk-cp-tyk-mdcb.tyk.svc:9091 \
          TYK_DATA_PLANE_ORGID=$(kubectl get secrets --namespace tyk tyk-operator-conf -o=jsonpath="{.data.TYK_ORG}" | base64 -d) \
          TYK_DATA_PLANE_AUTHTOKEN=$(kubectl get secrets --namespace tyk tyk-operator-conf -o=jsonpath="{.data.TYK_AUTH}" | base64 -d) \
          TYK_DATA_PLANE_USESSL=false \
          TYK_DATA_PLANE_PORT=8081 \
          GATEWAY_VERSION=${{ inputs.gateway_version }} \
          ./up.sh --redis redis --namespace tyk-dp tyk-dp

      - name: Sleep 60 seconds
        run: sleep 60

      - name: Test tyk-data-plane deployment
        run: newman run --folder gateway --env-var "gateway.port=8081" --env-var "deployment=data-plane" tyk-k8s-demo.postman_collection.json

      - name: Test httpbin API
        run: newman run --folder operator-classic-httpbin --insecure --env-var "gateway.port=8081" -n 1 tyk-k8s-demo.postman_collection.json

      - name: Scale MDCB down
        run: kubectl scale deploy mdcb-tyk-cp-tyk-mdcb --replicas=0 --namespace tyk

      - name: Sleep 60 seconds
        run: sleep 60

      - name: Test httpbin API
        run: newman run --folder operator-classic-httpbin --insecure --env-var "gateway.port=8081" -n 1 tyk-k8s-demo.postman_collection.json

      - name: Restart gateway and to check if emergency mode triggers on cold start
        run: kubectl rollout restart deployment gateway-tyk-dp-tyk-gateway --namespace tyk-dp

      - name: Sleep 60 seconds
        run: sleep 60

      - name: Re-run up command to terminate and establish port-forward after restart
        run: |
          TYK_DATA_PLANE_CONNECTIONSTRING=mdcb-svc-tyk-cp-tyk-mdcb.tyk.svc:9091 \
          TYK_DATA_PLANE_ORGID=$(kubectl get secrets --namespace tyk tyk-operator-conf -o=jsonpath="{.data.TYK_ORG}" | base64 -d) \
          TYK_DATA_PLANE_AUTHTOKEN=$(kubectl get secrets --namespace tyk tyk-operator-conf -o=jsonpath="{.data.TYK_AUTH}" | base64 -d) \
          TYK_DATA_PLANE_USESSL=false \
          TYK_DATA_PLANE_PORT=8081 \
          GATEWAY_VERSION=${{ inputs.gateway_version }} \
          ./up.sh --redis redis --namespace tyk-dp tyk-dp

      - name: Check if tyk-data-plane deployment continues to fail while MDCB is down and RPC is not returning a pass
        run: newman run --folder gateway --env-var "gateway.port=8081" --env-var "deployment=data-plane-rpc-down" tyk-k8s-demo.postman_collection.json

      - name: Test httpbin API
        run: newman run --folder operator-classic-httpbin --insecure --env-var "gateway.port=8081" -n 1 tyk-k8s-demo.postman_collection.json

      - name: Scale MDCB back up
        run: kubectl scale deploy mdcb-tyk-cp-tyk-mdcb --replicas=1 --namespace tyk

      - name: Sleep 60 seconds
        run: sleep 60

      - name: Test tyk-data-plane deployment now that MDCB is back up
        run: newman run --folder gateway --env-var "gateway.port=8081" --env-var "deployment=data-plane" tyk-k8s-demo.postman_collection.json

      - name: Test httpbin API
        run: newman run --folder operator-classic-httpbin --insecure --env-var "gateway.port=8081" -n 1 tyk-k8s-demo.postman_collection.json
